.gameView {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

}

.playerView {
    margin-top: 25px;
    display: flex; 
}

.dealerView {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.playerCard1 {
    margin-top: 30px;
    margin-right: 35px;
}

.playerCard2 {
    position: absolute;
    margin-left: 35px;
}



.dealerCard {

}