.modalContainer {
    background-color: rgba(34, 66, 155);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 45%;
    left: 50%;
    
    padding: 10px;
    border-radius: 10px;

}

.modalButton {
    margin-left: 10px;
}